# Denote all files that are truly binary and should not be modified.

archive_files.json binary

*.arcd0 binary
*.arci0 binary
*.dmanifest0 binary
*.projectc0 binary
*.public binary
*.der0* binary
*.png binary

dmloader.js binary

*.symbols binary
*.wasm binary
*_asmjs.js binary
*_wasm.js binary

run_game.html binary



